#top {
  align-items: center;
  justify-content: center;
  margin-left: 450px;
  width: 1000px;
  height: 500px;
}

@keyframes slide {
  0% {
    transform: translateX(0px);
  }
  8% {
    transform: translateX(0px);
  }
  16% {
    transform: translateX(0px);
  }
  24% {
    transform: translateX(-1000px);
  }
  32% {
    transform: translateX(-1000px);
  }
  40% {
    transform: translateX(-1000px);
  }
  48% {
    transform: translateX(-2000px);
  }
  56% {
    transform: translateX(-2000px);
  }
  64% {
    transform: translateX(-2000px);
  }
  72% {
    transform: translateX(-3000px);
  }
  80% {
    transform: translateX(-3000px);
  }
  88% {
    transform: translateX(-3000px);
  }
  96% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(-3000px);
  }
}

.silde {
  background-color: blueviolet;
}
/* 
.img {
} */

.img1,
.img2,
.img3,
.img4 {
  width: 1000px;
  height: 500px;
  animation: slide 30s infinite;
}

.slide > .img {
  display: flex;
  overflow: hidden;
}

.scroll-button {
  position: relative;
  margin-top: -250px;
  margin-left: 50px;
}

.onoff {
  margin-top: 100px;
  margin-left: 180px;
}

.play {
  position: absolute;
  opacity: 0;
}

.stop {
  position: relative;
  opacity: 1;
}

.dot-before {
  position: absolute;
  margin-left: 200px;
  justify-content: space-evenly;
}

.dot1,
.dot2,
.dot3,
.dot4 {
  color: blueviolet;
  background-color: blueviolet;
  border: 1px solid blueviolet;
  border-radius: 30px;
}

.dot-after {
  position: absolute;
  margin-left: 200px;
  justify-content: space-evenly;
}
