.slide-box {
  width: 1200px;
  height: 600px;
  display: flex;
}

.title {
  width: 200px;
  height: 600px;
}

.title-list {
  width: 200px;
  height: 98px;
  border: 1px solid blue;
}

.title-list.on {
  border-left: 3px solid blue;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}
.slide-container {
  width: 990px;
  height: 600px;
}

.slide-item img {
  height: 600px;
  width: 1000px;
}

.slide-list {
  position: absolute;
  opacity: 0;
  border-top: 3px solid blue;
  border-right: 3px solid blue;
  border-bottom: 3px solid blue;
}

.slide-list.on {
  opacity: 1;
}
.playbtns img {
  width: 20px;
  height: 20px;
}
.playbtns img {
  width: 20px;
  height: 20px;
}
.playbtns {
  padding-left: 1000px;
}

.playbtns.on #pause,
.playbtns #play {
  display: block;
}
cs .playbtns.on #play,
.playbtns #pause {
  display: none;
}
